.btns {
    margin: 5% auto 5% auto;
    padding: 1%;
    width: 50%;
    height: auto;
    display: block;
    text-align: center;
    font-size: 25px;
    background-color: #2c6abb;
    color: white;
    border: none;
    text-decoration: none;
}

a:-webkit-any-link {
   text-decoration: none;
}