.btns {
    margin: 1% auto 1% auto;
    width: 50%;
    height: auto;
    display: block;
    text-align: center;
    font-size: 25px;
    background-color: #000000;
    color: white;
    border: 1px solid aliceblue;
    border-radius: 10px;
    text-decoration: none;
    opacity: .7;
}

a:-webkit-any-link {
   text-decoration: none;
}

#assButt {
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-size: 30px;
}