.joinGameForm {
    width: 50%;
    margin: 5% auto;
    background: #474747c5;
    color: white;
    border-radius: 10px;
}
.fag {
    opacity: .9;
    background:  #9d364d;
    width: 82%;
    text-align: center;
    margin: 1% auto;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    
}

.inputField {
    border-radius: 5px;
    background-color: rgb(223, 222, 222);
    border: none;
    font-weight:bolder;
    margin: 0 auto;
    width: 90%;
}

.gameResults {
    width: 50%;
    margin: 5% auto;
    background: #474747c5;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

