.header {
    display: block;
    width: 100% !important;
    background-color: rgba(10, 4, 3, 0.842);
    color: #fff;
    height: auto;
    padding-top: 150px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 10px;
}
#userName {
    margin-top: -60px;
}

.profile {
    margin: auto;
    border: 6px solid rgb(78, 77, 77);
    border-radius: 50%;
}
#targetpic {
    max-width: 200px;
    border-radius: 5px;
}


