.createGameForm {
    width: 325px;
    margin: 5% auto 2% auto;
    text-align: center;
    height: auto;
    background-color: rgba(54, 54, 54, 0.733);
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.4);
}

.usersResults {
    width: 325px;
    margin: 15% auto 2% auto;
    text-align: center;
    height: auto;
    background-color: rgba(27, 27, 27, 0.925);
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.4);
    color: white;
}

.createButton {

    margin: 2% auto 2% auto;
    width: 50%;
    background-color: #9d364d;
    border: none;
    border-radius: 10px;
}

#title {
    color: white;
    padding: 5%;
}

.gameFormInput {
    width: 80%;
    background-color:  rgb(221, 221, 219);
    border-radius: 10px;
    margin: 2% auto 2% auto;
    font-weight: bolder;
}

.userButton {
    width: 35%;
    margin: 2% 1% 2% 1%;
    border: none;
    border-radius: 10px;
    background-color: #9d364d;
}

.searchUserForm {
    margin-top: -1%;

}