.currentGame {
    width: 325px;
    margin: 5% auto 2% auto;
    text-align: center;
    height: auto;
    background-color: rgba(54, 54, 54, 0.815);
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.4);
    color: white;
}

.curGames {
    width: 150px;
    font-size: 25px;
    border: none;
    background-color: #9d364d;
}

.curGames:hover {
    background-color: #682332;
}