
.nav-pills {
    position: fixed;
    padding: 2%;
    top:0;
    left: 0;
    background-color: #000000;
    min-height: 65px;
    width: 100%;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    z-index: 99;
    /* white-space: nowrap; */
}

.nav-pills>li>a {
    color: #fff;
    /* float: left; */
    
}

.signOut {
    position: absolute;
    right: 0;
    margin-right: 3%
}

.nav-pills>li>a:hover {
    background-color: #9d364d;
}
#assassin {
    color: crimson;
    font-weight: bolder;
    font-size: 22px;
}
.gameName {
    display: inline;
}

/* .btn-group>.btn:first-child
{
    width: 100%; */
    /* float: right; */
    /* margin: 15% 30% 0 0;
} */

/* .btn-toolbar
{
    right: 0;
    position: absolute;

}

dropdown-menu-left {
    text-align: center;
} */